In [2]:
import os
import tensorflow as tf
import pandas as pd
import json
import shutil
from tensorflow import keras
import keras_cv
from keras_cv import bounding_box
from keras_cv import visualization
import matplotlib.pyplot as plt

In [5]:
SPLIT_RATIO = 0.2
BATCH_SIZE = 4

In [6]:
json_file_path = '/Users/adnan/Documents/oil-tanks-dataset/labels.json'

In [7]:
# Open and read the JSON file
with open(json_file_path, 'r') as f:
    json_data = json.load(f)

In [8]:
df = pd.DataFrame(json_data)
df

        id    file_name                                              label
0        0   01_0_0.jpg                                               Skip
1        1   01_0_1.jpg                                               Skip
2        2   01_0_2.jpg                                               Skip
3        3   01_0_3.jpg                                               Skip
4        4   01_0_4.jpg  {'Tank': [{'geometry': [{'x': 438, 'y': 254}, ...
...    ...          ...                                                ...
9995  9995  100_9_5.jpg                                               Skip
9996  9996  100_9_6.jpg                                               Skip
9997  9997  100_9_7.jpg                                               Skip
9998  9998  100_9_8.jpg                                               Skip
9999  9999  100_9_9.jpg                                               Skip

[10000 rows x 3 columns]